- provide(:title, 'All Kats')
%h1 All Kats

%ul.users
	=render @users

= will_paginate @users

//= link_to 'Load More Users', users_path(:page => @users.next_page), :class => 'load-more-posts', :remote => true if @users.next_page