/This is the navigation partial

%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{:href => "/"} Katmeer

    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu

  %section.top-bar-section
    %ul.left
      %li.divider
      %li
      %li
        =link_to "Browse", '#'
    %ul.right
      - if signed_in?
        %li.has-dropdown
          =link_to current_user.username, current_user
          %ul.dropdown
            %li.divider
            %li
              =link_to 'Account', current_user
            %li
              = link_to 'Sign Out', signout_path, method: "delete"
            %li
              = link_to 'Edit Account', account_path
      - else
        %li
          = link_to 'Sign Up', signup_path
        %li
          = link_to 'Sign In', signin_path

